.root{
    overflow: scroll;
}

nav{
   height: 3rem; 
}

nav ul{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 100%;
}

nav li{
    margin: 0 1rem;
}

nav li.active{
    text-decoration: underline;
}

article{
    width: 100%;
}

article:nth-child(2n+1){
    background-color: #0d0d0d;
}

article:nth-child(2n){
    background-color: #464545;
}

.delimiter{
    max-width: 120rem;
    height: 30rem;
    margin: 0 auto;
    display: flex;
    align-items: center;
    flex-direction: row;
    padding: 5rem 3rem;
    justify-content: space-around;
}

article:nth-child(2n) .delimiter{
    flex-direction: row-reverse;
}

article section{
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

article .text{
    padding-left: 6rem;
}

.text h1{
    font-size: 36px;
}

article ul{
    display: flex;
    flex-direction: row;
    margin: 1rem 0 1.5rem 0;
}

article ul li{
    margin-right: .7rem;
}

article .image{
    align-items: center;
}

article .image img{
    height: 100%;
    width: max-content;
    transition: transform .2s linear;
}

article:hover .image img{
    transform: scale(1.05);
}